
.AdditionFooter{
    background-color: #ccebff;
}

.SearchSectionForLogin {

    border-radius: 30px;
  }
  

.btnSearch {
    /* left: 73%; */
    transform: translate(-100%, 0);
    background-color: #ffffff;
    color: black;
    font-size: small;
    border-radius: 0 30px 30px 0 !important;
text-align: center;
    cursor: pointer;
    /* justify-content: space-between; */
    transition: all 0.3s ease;
  }
  
  .btnSearch:hover {
  color: white;
  background-color: black;
    border-radius: 0 30px  30px 0 !important;

  }

  .ttt{
    height: 80%;
  }