<div class="container-fluid AdditionFooter">
    <div class="container">
        <div class="row">
            <!-- First row with one column -->
            <div class="col-12 mb-4 pt-4">
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-3 col-sm-4 col-12 text-center">
                        <h5 style="font-size: small;">
                            {{'home-footer-addition-not-log-in.Yes! Send me exclusive offers, unique gift ideas, and personalized tips for shopping and selling on Etsy.' | translate}}
                            </h5>
                    </div>
                </div>
            </div>

            <!-- First row with one column -->
            <div class="col-12 mb-0">
                <div class="row justify-content-center text-center">
                    <div class="col-lg-4 col-md-3 col-sm-4 col-12 mb-4">

                        <form class="d-flex flex-grow-1 ttt">

                            <input class="form-control me-2 SearchSectionForLogin" type="search"
                                placeholder="Enter your email" aria-label="Search">
                            <button class="btn btn-submit btnSearch text-center "  type="submit">
                                <p>
                                    Subscribe
                                </p>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>