<div>
    @if(ProductsList.length > 0) {

    <div class="container ProductsListSection mb-5 mt-4">
        <div class="row pt-2 justify-content-center">


            <div class="container d-flex justify-content-between mb-2">

                <!-- Filter  -->
                <div class="dropdown FilterdropdownEg" [ngClass]="{ 'Filterdropdown': lang === 'ar'}">
                    <button class="btn btnOfFilter dropdown-toggle" type="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        <i class="fa-solid fa-sliders fa-sm" style="color: #000000"></i>
                        {{ "ProductListComponent.All Filters" | translate }}
                    </button>
                    <ul class="dropdown-menu" id="">
                        <li>
                            <a class="dropdown-item"
                            [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                                {{ "ProductListComponent.Relevance" | translate }}
                            </a>
                        </li>
                    
                    </ul>
                </div>

                <!-- Sort  -->
                <div class="dropdown Sortdropdown d-flex">
                    <!-- Text  -->
                    <small class="text-secondery me-2 mt-2 TxtOfSort" style="font-size: smaller; width: 150%"
                    [ngClass]="{ 'ms-2': lang === 'ar'}">
                        {{ "ProductListComponent.results" | translate }}
                    </small>

                    <!-- Sort List -->
                    <button class="btn btnOfFilter dropdown-toggle" (click)="toggleDropdown()" type="button"
                        data-bs-toggle="dropdown">
                        {{ "ProductListComponent.Sorted By" | translate }}
                    </button>
                    <ul class="dropdown-menu" id="filter-dropdown-menu">
                        <li>
                            <a class="dropdown-item"
                             (click)="FilterProduct('Relevance');toggleDropdown()"
                             [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                            {{"ProductListComponent.Relevance" | translate}}
                            
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="FilterProduct('Lowest')"
                            [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                            {{"ProductListComponent.Lowest Price" | translate }}
                        </a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="FilterProduct('Highest')"
                            [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                                {{
                                "ProductListComponent.Highest
                                Price" | translate
                                }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="FilterProduct('Reviews')"
                            [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                                {{
                                "ProductListComponent.Top Customer Reviews" | translate
                                }}</a>
                        </li>
                        <li>
                            <a class="dropdown-item" (click)="FilterProduct('Recent')"
                            [ngStyle]="{ 'text-align': lang === 'ar' ? 'start' : 'left' }">
                                {{
                                "ProductListComponent.Most
                                Recent" | translate
                                }}</a>
                        </li>
                    </ul>
                </div>
            </div>



            @for (ProductItem of ProductsList; track $index ) {
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 product-item mb-2">
                <ul class="list-unstyled p-0">
                    <li class="ProductEffect ">
                        <a [routerLink]="['ProductDetails', ProductItem.productId]"
                            class="d-flex flex-column text-decoration-none">
                            <div>
                                <img class="col-3 img-fluid imgOfProduct mb-1 mb-0" [src]="ProductItem.productImage"
                                    alt="Card image cap" style="height: 14rem" />
                            </div>
                            <div class="">
                                <h4 class="DescOfProduct mb-0">
                                    @if (lang === 'en') {
                                    <span> {{ ProductItem.productNameEN.slice(0, 20) }}</span>
                                    } @else if (lang === 'ar') {
                                    <span> {{ ProductItem.productNameAR.slice(0, 50) }}</span>
                                    }

                                    {{
                                    ProductItem.productDescriptionEN.length > 40 ? "..." : ""
                                    }}
                                </h4>
                            </div>

                            <div>
                                <p class="StarOfProduct d-flex mb-0">
                                    <app-star [rating]="ProductItem.productRating"></app-star>
                                    <small class="text-secondary ms-1">({{ ProductItem.productRating }})</small>
                                </p>
                            </div>
                            <div>
                                <h4 class="CurrecyOfProduct mb-0">
                                    {{
                                    lang === "ar"
                                    ? (ProductItem.productPrice
                                    | currency : "EGP" : true : "1.2-2")
                                    : (ProductItem.productPrice | currency : "EUR")
                                    }}
                                </h4>
                            </div>

                            <div>
                                <small class="text-secondary mb-0">
                                    @if (lang === 'en') {
                                    <span>
                                        Ad by
                                        {{
                                        "ProductListComponent.productPublisher." +
                                        ProductItem.productPublisher | translate
                                        }}
                                    </span>
                                    } @else if (lang === 'ar') {
                                    <span>
                                        إعلان بواسطة
                                        {{
                                        "ProductListComponent.productPublisher." +
                                        ProductItem.productPublisher | translate
                                        }}
                                    </span>
                                    }
                                </small>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            }@empty {
            <h1>No Products to View</h1>
            }

            <div class="mt-5 pagination-container">
                <div>
                    <small class="txtPagination mt-2">{{"ProductListComponent.There's so much more for you to discover"|translate}}</small>
                    <div class="d-flex  justify-content-start">
                        <div class="me-0 pagination-icons" >
                            <p-paginator class="pagination-item" 
                                (onPageChange)="paginate($event)"
                                [first]="pageIndex" [rows]="itemsPerPage" [totalRecords]="20"
                                [showFirstLastIcon]="false" class="pagination-item">
                            </p-paginator>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    }
</div>