@if(ProductsList.length > 0)
{
<div class="container">
    <div class="row py-5 mt-5">
        @for (ProductItem of ProductsList; track $index ) {
        <div class="col-md-3">
            <div class="card mb-4 shadow-sm">
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" [src]="ProductItem.productImage" alt="Card image cap"
                        style="height: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">{{ProductItem.productNameEN.slice(0,30) }}</h4>
                        <h6 class="card-title">{{ProductItem.productPrice | currency:'EUR' }}</h6>
                        <p><app-star [rating]= "ProductItem.productRating" ></app-star></p>
                        <h5 class="card-title">{{ProductItem.productPublisher}}</h5>
                        <a href="#" class="btn btn-primary">See More</a>
                    </div>
                </div>
            </div>
        </div>
        }@empty {
        <h1>No Products to View</h1>
        }
    </div>
</div>
}