


.ProductsListSection {
  width: 85%;
}

/* First Section Filter !! */

.Sortdropdown {
  cursor: pointer;
}

.dropdown-menu {
  border-radius: 5px;

  box-shadow: #222222a3;
}


.btnOfFilter {
  border: 1px solid black;
  background-color: white !important;
  border-radius: 30px;
  transition: box-shadow 0.3s ease;
  width: 100% !important;
  
}

.btnOfFilter:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
  border: 1px solid black !important;

}

.dropdown-item{
  background-color: white !important;
  color: #222222 !important;
}
.dropdown-item:hover{
  background-color: rgb(237, 232, 232) !important;

}
/* Second One Products */

.imgOfProduct {
  width: 100%;
  height: auto;
  display: block;
  transition: box-shadow 0.3s ease;
  border-radius: 3px !important;
}

.ProductEffect:hover .imgOfProduct {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}

/* texts of product  */

.DescOfProduct {
  font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue",
    "Droid Sans", "Arial", "sans-serif";
  color: #222222;
  font-size: small;
  text-overflow: ellipsis;
}

.StarOfProduct {
  font-size: small;
  color: #222222;
}

.CurrecyOfProduct {
  color: #222222;
  font-size: medium;
}

/* paginator */

.p-paginator .p-paginator-pages .p-paginator-page-link:hover {
  background-color: #f0f0f0;
  color: #000000;
  border-radius: 50%;
}

.txtPagination {
  font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue",
    "Droid Sans", "Arial", "sans-serif";
  font-weight: 500px;
}

.p-paginator{

  margin-top:20px ;
  padding: 0%;
}


/* Numbers */

.pagination-item .p-paginator-page{
  background-color: rgb(243, 237, 237) !important ;
  border-radius: 50%;
  color: #222222 !important;
  margin: 0 2px;
  font-size: small;
 
  height: 40px;
}


/* Next & Prev */
.p-paginator-next ,.p-paginator-prev{
  background-color: rgb(243, 237, 237) !important ;
  border-radius: 50%;
  color: #222222 !important;
  margin: 0 2px;
  font-size: small;
  height: 40px;

}
.p-paginator-next:hover 
{
  background-color: rgb(243, 237, 237) !important ;
  color: #222222 !important;
  border-radius: 50% !important;

}

.p-paginator-prev:hover 
{
  background-color: rgb(243, 237, 237) !important ;
  color: #222222 !important;
  border-radius: 50% !important;

}

/* Responsive */

@media screen and (max-width: 570px) {
.FilterdropdownEg{
  display: none;
}
 
.TxtOfSort{
  display: none;

}
.pagination-item .p-paginator-page{
  display: none;

}
}

