
<div class="container">
    <div class="container justify-content-center d-flex ">

        <div class="row text-center">
            <div class="col-md-6">
                <ul class="list-unstyled d-flex">
                    <li>
                        <a routerLink="" class="firstAnchour">
                            BaseCategory/
    
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-6">
                <ul class="list-unstyled disabled">
    
                    <li>
                        <a class=" disabled" role="button" aria-disabled="true" style=" text-decoration: none;">
                            Category
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    
     
    
    
    </div>
    
  
        <div class="row  text-center">
            <!-- Name Of The Category NOT DYNAMIC!!!! -->
            <h2 class="HeaderTxt">Baby Care</h2>
        </div>
 

</div>


<app-product-list></app-product-list>