body {
  margin-top: 20px;
  background: #eee;
}

.product-content {
  margin-bottom: 20px;
  margin-top: 12px;
  background: #fff;
}

.product-content .carousel-control.left {
  margin-left: 0;
}

.product-content .product-image {
  background-color: #fff;
  display: block;
  min-height: 238px;
  overflow: hidden;
  position: relative;
}

.product-content .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
  background: #fff;
}

.product-content .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
  padding-left: 0;
  margin-left: 0;
}

.product-content .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px;
}

.product-content .product-deatil span.tag1 {
  border-radius: 50%;
  color: #fff;
  font-size: 15px;
  height: 50px;
  padding: 13px 0;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 50px;
}

.product-content .product-deatil span.sale {
  background-color: #21c2f8;
}

.product-content .product-deatil span.discount {
  background-color: #71e134;
}

.product-content .product-deatil span.hot {
  background-color: #fa9442;
}

.product-content .description {
  font-size: 12.5px;
  line-height: 20px;
  padding: 10px 14px 16px 19px;
  background: #fff;
}

.product-content .product-info {
  padding: 11px 19px 10px 20px;
}

.product-content .product-info a.add-to-cart {
  color: #2f383d;
  font-size: 13px;
  padding-left: 16px;
}

.product-content name.a {
  padding: 5px 10px;
  margin-left: 16px;
}

.product-info.smart-form .btn {
  padding: 6px 12px;
  margin-left: 12px;
  margin-top: -10px;
}

.product-entry .product-deatil {
  border-bottom: 1px solid #dfe5e9;
  padding-bottom: 17px;
  padding-left: 16px;
  padding-top: 16px;
  position: relative;
}

.product-entry .product-deatil h5 a {
  color: #2f383d;
  font-size: 15px;
  line-height: 19px;
  text-decoration: none;
}

.product-entry .product-deatil h5 a span {
  color: #9aa7af;
  display: block;
  font-size: 13px;
}

.load-more-btn {
  background-color: #21c2f8;
  border-bottom: 2px solid #037ca5;
  border-radius: 2px;
  border-top: 2px solid #0cf;
  margin-top: 20px;
  padding: 9px 0;
  width: 100%;
}

.product-block .product-deatil p.price-container span,
.product-content .product-deatil p.price-container span,
.product-entry .product-deatil p.price-container span,
.shipping table tbody tr td p.price-container span,
.shopping-items table tbody tr td p.price-container span {
  color: #21c2f8;
  font-family: Lato, sans-serif;
  font-size: 24px;
  line-height: 20px;
}

.product-info.smart-form .rating label {
  margin-top: 0;
}

.product-wrap .product-image span.tag2 {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  padding: 10px 0;
  color: #fff;
  font-size: 11px;
  text-align: center;
}

.product-wrap .product-image span.sale {
  background-color: #57889c;
}

.product-wrap .product-image span.hot {
  background-color: #a90329;
}

.shop-btn {
  position: relative;
}

.shop-btn > span {
  background: #a90329;
  display: inline-block;
  font-size: 10px;
  box-shadow: inset 1px 1px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 0 rgba(0, 0, 0, 0.07);
  font-weight: 700;
  border-radius: 50%;
  padding: 2px 4px 3px !important;
  text-align: center;
  line-height: normal;
  width: 19px;
  top: -7px;
  left: -7px;
}

.description-tabs {
  padding: 30px 0 5px !important;
}

.description-tabs .tab-content {
  padding: 10px 0;
}

.product-deatil {
  padding: 30px 30px 50px;
}

.product-deatil hr + .description-tabs {
  padding: 0 0 5px !important;
}

.product-deatil .carousel-control.left,
.product-deatil .carousel-control.right {
  background: none !important;
}

.product-deatil .glyphicon {
  color: #3276b1;
}

.product-deatil .product-image {
  border-right: none !important;
}

.product-deatil .name {
  margin-top: 0;
  margin-bottom: 0;
}

.product-deatil .name small {
  display: block;
}

.product-deatil .name a {
  margin-left: 0;
}

.product-deatil .price-container {
  font-size: 24px;
  margin: 0;
  font-weight: 300;
}

.product-deatil .price-container small {
  font-size: 12px;
}

.product-deatil .fa-2x {
  font-size: 16px !important;
}

.product-deatil .fa-2x > h5 {
  font-size: 12px;
  margin: 0;
}

.product-deatil .fa-2x + a,
.product-deatil .fa-2x + a + a {
  font-size: 13px;
}

.profile-message ul {
  list-style: none;
}

.product-deatil .certified {
  margin-top: 10px;
}

.product-deatil .certified ul {
  padding-left: 0;
}

.product-deatil .certified ul li:not(first-child) {
  margin-left: -3px;
}

.product-deatil .certified ul li {
  display: inline-block;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 13px 19px;
}

.product-deatil .certified ul li:first-child {
  border-right: none;
}

.product-deatil .certified ul li a {
  text-align: left;
  font-size: 12px;
  color: #6d7a83;
  line-height: 16px;
  text-decoration: none;
}

.product-deatil .certified ul li a span {
  display: block;
  color: #21c2f8;
  font-size: 13px;
  font-weight: 700;
  text-align: center;
}

.product-deatil .message-text {
  width: calc(100% - 70px);
}


.message img.online {
  width: 40px;
  height: 40px;
}

.imgOfProduct {
  border-radius: 10px !important;

  width: 100%;
  height: 100%;
}

.card {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.05);
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.024);
  border-radius: 1rem;
}
.text-reset {
  --bs-text-opacity: 1;
  color: inherit !important;
}

/* fot gift */

.form-check-input[type="checkbox"]:checked {
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.form-check-input[type="checkbox"]::after {
  background-color: black;
  border-color: black;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.form-check-input[type="checkbox"] {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
  border-color: rgba(187, 187, 187, 0.572);
}
.cursorClass {
  cursor: pointer;
}

.selectD {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.286);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.selectD:hover {
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.372);

  border: 1px solid #222222;
}
/* button  */

.btnCheckOut {
  width: 100%;
  border-radius: 20px;
  background-color: black;
  color: #ffffff;
  display: inline-block; /* Display button as a block element */
}

.btnCheckOut:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Add box shadow */
  opacity: 0.8; /* Reduce opacity */
}

.btnBuying {
  width: 100%;

  border-radius: 20px;
  display: inline-block;
}

.btnBuying:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5) !important;
  opacity: 0.8;
}

.CardStleSucces {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0) !important;
  background-color: #d7f5e5 !important;
  border-radius: 10px;
}

/* ========= */
/* FOr carousal */
.p-galleria .p-galleria-thumbnail-container {
  background: white;
  padding-top: 0;
  margin-top: 0;
}

.active-thumbnail {
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
}

.p-galleria-item-prev,
.p-galleria-item-next {
  background-color: #ffffff;
  color: #222222 !important;
  border: 1px solid #cccccc;
  border-radius: 50%;
  width: 7%;
  height: 7%;
  margin: 10px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.419);

}


.p-galleria-item-prev:hover,
.p-galleria-item-next:hover {
  background-color: #cccccc;
}


.p-galleria-item-container{
  width: 90%;
  height: 60%;
  display: block;
  border-radius: 8px;
  margin-left: 10px;
}

.p-galleria-thumbnail-container .thumbnail-image {
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 8px;
  margin-top: 0;
}



/* ============ */
/* section 2 */

.ShopName {
  font-size: small;
  cursor: pointer;
}

.ShopName:hover {
  text-decoration: underline;
}

/* ======== */
/* dropdown  */

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  background-color: #ffffff;
  border: none;
  border-radius: 20px;
  padding: 8px 12px;
  cursor: pointer;
  width: 100% !important;
}
.dropdown-toggle:hover {
  background-color: rgb(194, 191, 191);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #ffffff;
  min-width: 160px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
  border-radius: 4px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  padding: 8px 12px;
  text-decoration: none;
  color: #333333;
}

.dropdown-content a:hover {
  background-color: #f8f9fa;
}

.show {
  display: block;
}


/* ======== */
/* Responsive */

@media screen and (max-width: 790px) {
  .p-galleria-item-prev,
.p-galleria-item-next{

  display: none;
}
.p-galleria-item-container{
  width: 100%;
}
}

@media screen and (max-width: 620px) {
 
  .p-galleria-thumbnail-container{
    display: none;
  }


}


.arabic-padding {
  padding: 30px 30px 50px 80px !important;
}