<div class="container m-5">
    <!-- product -->
    <div class="card product-content product-wrap clearfix product-deatil">

        <div class="row">

            <div class="col-md-5 col-sm-12 col-xs-12">

                <div class="product-image">
                    <div id="myCarousel-2" class="carousel slide">

                        <!-- <ol class="carousel-indicators">
                            <li data-target="#myCarousel-2" data-slide-to="0" class=""></li>
                            <li data-target="#myCarousel-2" data-slide-to="1" class="active"></li>
                            <li data-target="#myCarousel-2" data-slide-to="2" class=""></li>
                        </ol> -->
                        <div class="carousel-inner">
                            <!-- Slide 1 -->
                            <div class="item active">
                                <img src="https://i.etsystatic.com/10170191/r/il/e18916/3941558422/il_794xN.3941558422_jasw.jpg"
                                    class="img-responsive imgOfProduct" alt="" />
                            </div>

                        </div>

                        <h2 class="name text-secondary">
                            <span class="fa fa-2x me-3">
                                <h5>109 reviews</h5>
                            </span>

                            <i class="fa fa-star fa-2x text-dark"></i>
                            <i class="fa fa-star fa-2x text-dark"></i>
                            <i class="fa fa-star fa-2x text-dark"></i>
                            <i class="fa fa-star fa-2x text-dark"></i>
                            <i class="fa fa-star fa-2x text-muted"></i>
                           
                        </h2>

                    </div>
                </div>
            </div>


            <div class="col-md-6 col-md-offset-1 col-sm-12 col-xs-12  ms-5">

                <div class="d-flex">
                    <h2 class="name text-success">
                        USD 11.92+


                    </h2>
                    <small style="text-decoration: line-through; " class="text-secondary mt-2 ms-1">
                        USD 14.90+
                    </small>
                </div>

                <div>
                    <p class="text-secondary mt-3">
                        Cute & Trendy Beautiful Heart shaped Sunglasses
                        for any occasion.Novelty heart sunglasses are sure to bring the funk.
                        Stay fun and flirty all festival long in these super cute hippie heart sunglasses!.
                        Translucent rimless sunglasses
                        are a perfect rockabilly accessory that will complete your boho outfit.
                    </p>
                </div>

                <div class="d-flex mt-3">
                    <p class="small   card-title mt-2">Quantity : </p>
                    <select class="form-select selectD" aria-label="Default select example ">
                        <option selected>1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                    </select>
                </div>





                <div class="d-flex mt-3">
                    <i class="fa-solid fa-calendar-week me-2 " style="color: #000000;"></i>
                    <p>Order today to get by Mar 27-Apr 2</p>
                </div>



                <div class="m-t-sm mt-2">

                    <div class="form-group form-check  ">
                        <label for="exampleCheck1" class="cursorClass">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <i class="fa fa-gift me-1 ms-1"></i>
                            Add gift package
                        </label>
                    </div>

                </div>
                <div class="d-flex justify-content-center btn-container mt-3 ms-5">

                    <button class="btn btn-outline-dark btnBuying">Buy it now</button>

                </div>

                <div class="d-flex justify-content-center btn-container mt-3 ms-5">

                    <button class="btn btnCheckOut">Add to Ccart</button>

                </div>

                <hr class="mt-5">

                <div class="container mt-5 mb-5">
                    <div class="card headerCard">
                        <div class="card-body CardStleSucces">
                            Etsy offsets carbon emissions from shipping and packaging on this purchase
                        </div>
                    </div>
                </div>


                <div class="container mt-5 mb-5">
                    <div class=" d-flex row">
                        <div class=" col-2 mt-3">
                            <i class="fa-solid fa-handshake " style="color: #164198; font-size: 35px;"></i>
                        </div>
                        <div class="col-10">

                            <p> Buy confidently with Etsy's Purchase Protection program for buyers, get a full refund in
                                the
                                rare case your item doesn't arrive, arrives damaged, or isn't as described.
                            </p>
                        </div>

                    </div>
                </div>



            </div>
        </div>
    </div>
    <!-- end product -->
</div>