Graduation-Project-ITI-Etsy-Frontend/.angular/cache/17.2.3/Graduation-Project-ITI-Etsy-Frontend/.tsbuildinfo
Graduation-Project-ITI-Etsy-Frontend/node_modules/
node_modules/@angular/core/
node_modules/
