<div class="container BaseCategoryitemHome mb-5">

    <!-- Name Of Category that user Choose !!!! Not Dynamic -->
    <h1 class=" text-center textOfHeaderOfCat mt-3">{{'AllcategoriesComponent.categoryTitles.' + TitleCategory  | translate }}</h1>

    <!-- Not Found In Database -->
    <p class="text-center DescriptionOfCategory text-secondary mb-3">
            {{ "AllcategoriesComponent.DescriptionCategory" | translate }}

        </p>

    @if(CategoryList.length > 0)
    {
    <div class="container ">
        <div class="row  justify-content-center">

            @if(showRemainCategories){

            @for (Categoryitem of CategoryList; track $index ) {
            <div class="col-md-2  col-sm-6">
                <div class="row">

                    <ul class="list-unstyled BaseCatEffect pt-2">
                        <li class="">

                            <a [routerLink]="['Products',Categoryitem.id]"
                                class="text-decoration-none d-flex flex-column ">

                                <div>
                                    <img class="card-img-top imgOfCategory" [src]="Categoryitem.categoryImage"
                                        alt="Base Category Card image" style="height: 14rem;">
                                </div>

                                <div class="text-center mt-2 ">
                                    <p class="textOfBaseCategory">
                                        @if (lang === 'en') {
                                        <span> {{Categoryitem.nameEN }}</span>
                                        }
                                        @else if (lang === 'ar') {
                                        <span> {{Categoryitem.nameAR }}</span>
                                        }
                                    </p>

                                </div>


                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            }@empty {
            <h1>No Categories to View</h1>
            }

            }@else {
            @for (Categoryitem of CategoryList.slice(0,6); track $index ) {
            <div class="col-md-2  col-sm-6">
                <div class="row">

                    <ul class="list-unstyled BaseCatEffect pt-2">
                        <li class="">

                            <a [routerLink]="['Products',Categoryitem.id]"
                                class="text-decoration-none d-flex flex-column ">

                                <div>
                                    <img class="card-img-top imgOfCategory" [src]="Categoryitem.categoryImage"
                                        alt="Base Category Card image" style="height: 14rem;">
                                </div>

                                <div class="text-center mt-2 ">
                                    <p class="textOfBaseCategory">

                                        @if (lang === 'en') {
                                        <span> {{Categoryitem.nameEN }}</span>
                                        }
                                        @else if (lang === 'ar') {
                                        <span> {{Categoryitem.nameAR }}</span>
                                        }
                                    </p>

                                </div>


                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            }@empty {
            <h1>No Categories to View</h1>
            }

            }


        </div>


    </div>

    }

    @if(CategoryList.length > 6)
    {
    <div class="justify-content-center text-center mb-5 ">

        <button class="btn btnOfBaseCat" type="button" (click)="showMore()">
            {{ showRemainCategories ? 'Show less' : 'Show more' }}
        </button>
    </div>
    }
</div>

<app-product-list></app-product-list>