body{
    background:#eeee;
}


.headerCard{
        background-color:#D7E6F5 !important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0, 0, 0);
    border-radius: 1rem;
}
.text-reset {
    --bs-text-opacity: 1;
    color: inherit!important;
}
a {
    color: #5465ff;
    text-decoration: none;
}


.CardImage{
    border-radius: 10px;
    width: 200px;
    height: 170px;
}



.selectD{
    width: 67px !important;
}

.LineRemove {
    border: none !important;

}
.botn-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btnCheckOut{
    width: 100%;
    border-radius: 20px;
    background-color: black;
    color: #ffffff;
}


.btnCheckOut:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow */
    opacity: 0.8; /* Reduce opacity */
}

/* for payment */
.form-check-input[type="radio"]{
    width: 24px; /* Adjust width */
    height: 24px; /* Adjust height */

}


.form-check-input[type="radio"]:checked{
   
    background-color: black;
    border-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add box shadow */

}


/* fot gift */

.form-check-input[type="checkbox"]:checked{
   
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 

}

.form-check-input[type="checkbox"]::after{
   
    background-color: black;
    border-color: black;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 

}

.form-check-input[type="checkbox"] {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0); 
    border-color: rgba(187, 187, 187, 0.572);
}

.cursorClass{
    cursor: pointer; 
}
.roundedBG{
    border-radius: 50px; 
    border: none;
    padding: 8px;
    font-weight: 600;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.811);

}
.roundedBG:hover{
    background-color: #F0F0F0;
    transition: opacity 0.7s ease;
}
