<div class="container mb-5">

    <div class="ibox container mt-5">
        <div class="ibox-title">
            <h3> <span class="pull-right"><strong>5</strong> items in your cart </span> </h3>
        </div>

        <div class="container mt-3 mb-5">
            <div class="card headerCard">
                <div class="card-body">
                    <i class="fa-solid fa-handshake fa-2xl" style="color: #164198;"></i>
                    Buy confidently with Etsy's Purchase Protection program for buyers, get a full refund in the
                    rare case your item doesn't arrive, arrives damaged, or isn't as described.
                </div>
            </div>
        </div>

        <!-- Main content -->
        <div class="row">
            <div class="col-lg-8">

                <!-- Details -->
                <div class="card mb-4">
                    <div class="card-body">

                        <table class="table shoping-cart-table ">
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="col d-flex mb-2 test">

                                            <div class="col-md-3 ">
                                                <img src="https://images.unsplash.com/photo-1575936123452-b67c3203c357?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D"
                                                    class="img-fluid CardImage card-img-top" alt="Card image cap">
                                            </div>
                                            <div class="col-md-9  ms-3 card-body">
                                                <h6 class="small mb-0">
                                                    <a href="#" class="text-reset card-title">Smartwatch IP68
                                                        Waterproof GPS and Bluetooth Support</a>
                                                </h6>

                                                <p class="small mt-3 text-secondary card-title">Style: poppies panel
                                                </p>
                                                <div class="d-flex">
                                                    <p class="small  text-secondary card-title mt-2">Quantity : </p>
                                                    <select class="form-select selectD"
                                                        aria-label="Default select example ">
                                                        <option selected>1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                    </select>
                                                </div>

                                                <div class="m-t-sm mt-2">
                                                    <a href="#" class="text-muted"><i class="fa fa-trash"></i>
                                                        Remove item</a>
                                                </div>
                                            </div>


                                        </div>
                                    </td>
                                    <td>1</td>
                                    <td class="text-end text-success">
                                        <h3>$79.99</h3>
                                    </td>
                                </tr>


                            </tbody>
                            <tfoot>

                                <tr class="">
                                    <td colspan="2">Apply shop coupon codes </td>
                                    <td class="text-end ">Shipping: USD 8.90</td>
                                </tr>

                                <tr class="">
                                    <td colspan="2">
                                        <div class="m-t-sm mt-2 ">
                                            <div class="form-group form-check">
                                                <label for="exampleCheck1" class="cursorClass">
                                                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                                    <i class="fa fa-gift"></i>
                                                    Add gift package
                                                </label>
                                            </div>
                                    
                                        </div>
                                    </td>
                                    <td class="text-end " style="font-size:x-small;">Estimated delivery:Apr 3-17
                                    </td>
                                </tr>


                            </tfoot>
                        </table>

                    </div>
                </div>


            </div>
            <!-- Shipping information -->

            <div class="col-lg-4">
                <div class="cart-payment-section ">
                    <div class="wt-mt-xs-1">
                        <legend class="wt-text-title-01 ">
                            How you'll pay
                        </legend>

                        <div class="card mb-4">

                            <table class="table shoping-cart-table ">
                                <tbody>

                                    <tr>

                                        <td>
                                            <div class="form-check mb-2" >
                                                <input class="form-check-input dark"  type="radio" name="exampleRadios" id="exampleRadios1" value="option1">
                                                <label class="form-check-label ms-2" for="exampleRadios1">
                                                    <i class="fa-brands fa-cc-paypal fa-2xl" style="color: #085996;"></i>   
                                                </label>
                                              </div>
                                              <div class="form-check mb-2">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" disabled>
                                                <label class="form-check-label  ms-2" for="exampleRadios2">
                                                    <i class="fa-brands fa-cc-visa fa-2xl" style="color: #085996;"></i>
                                                    <i class="fa-brands fa-apple-pay fa-2xl ms-2" style="color: #085996;"></i>
                                                </label>
                                               </div>
                                              <div class="form-check">
                                                <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" disabled>
                                                <label class="form-check-label  ms-2" for="exampleRadios3">
                                                    <i class="fa-brands fa-google-pay fa-2xl" style="color: #085996;"></i>
                                                </label>
                                              </div>
                                        </td>
                                       
                                          
                                    </tr>

                                    <tr class="">
                                        
                                        <td colspan="2"> Item(s) total</td>
                                        <td class="text-end "> $ 8.90</td>

                                    </tr>

                                    <tr class="">
                                        <td colspan="2">Shipping</td>
                                        <td class="text-end "> $ 8.90</td>
                                    </tr>


                                </tbody>
                                <tfoot>

                                    <tr class="">
                                        <td colspan="2">
                                            <h5>Total (1 item)</h5>
                                        </td>
                                        <td class="text-end ">
                                            <h5 style="font-size:medium;">$ 8.90</h5>
                                        </td>
                                    </tr>

                                    <tr class="d-flex justify-content-center btn-container mt-3 ms-5">

                                        <button class="btn btnCheckOut">Pay With <i> PayPal</i></button>

                                    </tr>
                                </tfoot>
                            </table>



                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>