<footer class="bg-dark text-center text-lg-start">

   
   <!-- electricity -->
   <div class="text-center text-light p-3" style="background-color: rgba(160, 153, 153, 0.2);">
    <a  class="" data-bs-toggle="tooltip" data-bs-placement="top" title={{contentOfTooltip}} >
    <i class="fa-solid fa-globe fa-lg" style="color: #ffffff;"></i>
    Etsy is powered by 100% renewable electricity.
    </a>
  </div>


  
    <!-- Grid container websiite contant-->
    <div class="container p-4 ">

      <!--Grid row-->
      <div class="row">

        <!--Grid column 1-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0 ">
          <h4 class="text-uppercase text-light mb-3">Base Category</h4>

        <ul class="list-unstyled ">
            <li class="mb-2">
                <a href="#!" class="text-light ForUnderline">Accessories</a> 
            </li>
            <li class="mb-2">
                <a href="#!" class="text-light ForUnderline">Art & Collectibles</a>
            </li>
            <li class="mb-2">
                <a href="#!" class="text-light ForUnderline">Baby</a>
            </li>
            <li class="mb-2">
                <a href="#!" class="text-light ForUnderline">Jewelry</a>
            </li>

        </ul>
        </div>

        <!--Grid column 2-->
  
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="text-uppercase text-light mb-3">Accessories</h4>
            <ul class="list-unstyled ">
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline ">Sunglasses & Eyewear</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Keychains & Lanyards</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Scarves & Wraps</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Hats & Caps</a>
                </li>
             
            </ul>
        </div>

         <!--Grid column 3-->
  
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="text-uppercase text-light mb-3">Art & Collectibles</h4>
            <ul class="list-unstyled ">
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline ">Painting</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Prints</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Sculpture</a>
                </li>
             
             
            </ul>
        </div>


         <!--Grid column 4-->
  
         <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h4 class="text-uppercase text-light mb-3">Baby</h4>
            <ul class="list-unstyled ">
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Nursery Decor</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Baby Toys</a>
                </li>
                <li class="mb-2">
                    <a href="#!" class="text-light ForUnderline">Baby Clothes</a>
                </li>
             
             
            </ul>
        </div>

        <!-- Grid column 5 -->

      </div>
        <!--Grid row-->
    </div>


    <!-- Grid container Social media-->
    <div class="container mb-3 d-flex justify-content-around ">
        <div class="row">
            <div class="col-sm text-light roundedBG">
                <a href="#!" class="text-light"><i class="fa-brands fa-instagram fa-2xl" style="color: #000000;"></i></a>
            </div>
            <div class="col-sm text-light roundedBG">
                <a href="#!" class="text-light"><i class="fa-brands fa-facebook fa-2xl" style="color: #000000;"></i></a>
            </div>
            <div class="col-sm text-light roundedBG">
                <a href="#!" class="text-light"><i class="fa-brands fa-pinterest-p fa-2xl" style="color: #000000;"></i></a>
            </div>
            <div class="col-sm text-light roundedBG">
                <a href="#!" class="text-light"><i class="fa-brands fa-twitter fa-2xl" style="color: #000000;"></i></a>
            </div>
            <div class="col-sm text-light roundedBG">
                <a href="#!" class="text-light"><i class="fa-brands fa-youtube fa-2xl" style="color: #000000;"></i></a>
            </div>
        </div>
    </div>


    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.302);">
      © 2024  Copyright : 
      <a class="text-light" href="https://mdbootstrap.com/">Etsy, Inc.</a>
    </div>
    <!-- Copyright -->
  </footer>
  