<footer class="bg-dark text-center text-lg-start">


    <!-- electricity -->
    <div class="text-center text-light pt-4 pb-4" style="background-color: #3B67D9;">
        <a class="" style="border-bottom: #ffffff dashed 2px;" data-bs-toggle="tooltip" data-bs-placement="top"
            title={{contentOfTooltip}}>
            <i class="fa-solid fa-globe fa-lg" style="color: #ffffff; "></i>
            Etsy is powered by 100% renewable electricity.
        </a>
    </div>



    <!-- Grid container websiite contant-->
    <div class="container-fluid">
        <div class="row" >
            <!--col 1 -->
            <div class="col-md-4  pt-5 pb-5" style="background-color: #122868;">
                 <img src="" alt="">
                <button class="roundedBG" style="background-color: #3140AF; color: #ffffff;  font-weight: 600; padding: 10px; border-color:#3B67D9;">Download The Etsy APP</button>
            </div>
            <!--col 2 -->
            <div class="col-md-4 pt-5 pb-5 ps-3" style="background-color: #3140AF">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-light mb-3 ">Base Category</h6>

                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Accessories</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Art & Collectibles</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Baby</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Jewelry</a>
                            </li>

                        </ul>
                    </div>


                    <div class="col-sm-6">
                        <h6 class="text-light mb-3 ">Accessories</h6>
                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline ">Sunglasses & Eyewear</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Keychains & Lanyards</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Scarves & Wraps</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Hats & Caps</a>
                            </li>

                        </ul>
                    </div>



                </div>
            </div>

            <!--col 3 -->
            <div class="col-md-4 pt-5 pb-5 " style="background-color: #3140AF">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-light mb-3">Art & Collectibles</h6>

                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Painting</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Painting</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Prints</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">Sculpture</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h6 class=" text-light mb-3 ">Help</h6>
                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline ">help center</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">privacy setiings</a>
                            </li>
                            <li class="mb-2">
                                <div class="row">
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-instagram " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-facebook " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-pinterest-p" style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-youtube " style="color: #ffffff;"></i></a>
                                    </div>
                                </div> 
                             </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

   


    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.302);">
      © 2024  Copyright : 
      <a class="text-light" href="https://mdbootstrap.com/">Etsy, Inc.</a>
    </div>
    <!-- Copyright -->
  </footer>
  
