<footer class="bg-dark text-center text-lg-start">


    <!-- electricity -->
    <div class="text-center text-light pt-4 pb-4" style="background-color: #3B67D9;">
        <i class="fa-solid fa-globe fa-xl me-2" style="color: #ffffff; "></i>
        <a class="" style="border-bottom: #ffffff dashed 2px;" data-bs-toggle="tooltip" data-bs-placement="top"
            title={{contentOfTooltip}}>
            {{'footer.etsy is powered by 100% renewable electricity.'| translate}}
        </a>
    </div>



    <!-- Grid container websiite contant-->
    <div class="container-fluid">
        <div class="row" >
            <!--col 1 -->
            <div class="col-md-4  pt-5 pb-5 " style="background-color: #122868; ">
                <div class="row justify-content-center mb-3"><img src="./../../../../../../assets/image/Logo/Etsy-Emblem.png" alt="" style="width:35%;"></div>
                <div class="row justify-content-center"><button class="roundedBG" style="background-color: #3140AF; color: #ffffff;  font-weight: 600; padding: 10px; border:none; width: 50%;">{{'footer.download The Etsy APP' | translate}}</button></div>
            </div>
            <!--col 2 -->
            <div class="col-md-4 pt-5 pb-5 ps-3" style="background-color: #3140AF">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-light mb-3 ">{{'footer.base Category' | translate}}</h6>

                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.accessories' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.art & Collectibles' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.baby' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.jewelry' | translate}}</a>
                            </li>

                        </ul>
                    </div>


                    <div class="col-sm-6">
                        <h6 class="text-light mb-3 ">{{'footer.accessoriess' | translate}}</h6>
                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline ">{{'footer.sunglasses & Eyewear' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.keychains & Lanyards' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.scarves & Wraps' |translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.hats & Caps' | translate}}</a>
                            </li>

                        </ul>
                    </div>



                </div>
            </div>

            <!--col 3 -->
            <div class="col-md-4 pt-5 pb-5 " style="background-color: #3140AF">
                <div class="row">
                    <div class="col-sm-6">
                        <h6 class="text-light mb-3">{{'footer.art & Collectibless' | translate}}</h6>

                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.painting' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.paintingg' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.prints' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.sculpture' | translate}}</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-sm-6">
                        <h6 class=" text-light mb-3 ">{{'footer.help' | translate}}</h6>
                        <ul class="list-unstyled ">
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline ">{{'footer.help center' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <a href="#!" class="text-light ForUnderline">{{'footer.privacy setiings' | translate}}</a>
                            </li>
                            <li class="mb-2">
                                <div class="row">
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-instagram " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-facebook " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-pinterest-p" style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-twitter " style="color: #ffffff;"></i></a>
                                    </div>
                                    <div class="col-sm text-light roundedBG">
                                        <a href="#!" class="text-light"><i class="fa-brands fa-youtube " style="color: #ffffff;"></i></a>
                                    </div>
                                </div> 
                             </li>

                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

   


    <!-- Copyright -->
    <div class="text-center text-light p-3" style="background-color: rgba(0, 0, 0, 0.302);">
        {{'footer.copyright :' | translate}}
      <a class="text-light" href="https://mdbootstrap.com/">{{'footer.etsy, Inc.' | translate}}</a>
    </div>
    <!-- Copyright -->
  </footer>
  
