.footerclass {
  direction: inherit !important;
}

.roundedBG {
  border-radius: 50%;
  padding: 10px;
  padding-right: 0;
  cursor: pointer;
}
.roundedBG:hover {
  background-color: rgba(255, 255, 255, 0.275);
  transition: opacity 0.7s ease;
}

.ForUnderline {
  text-decoration: none;
}
.ForUnderline:hover {
  text-decoration: underline;
}

/* Elec  */
/* .tooltip {
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border: 1px solid #ccc;
    border-radius: 20px; 
    padding: 10px;
    z-index: 1;
    width: 200px; 
    top: -40px; 
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

.contentOfTooltipStyle {
  text-decoration: none;
}

.contentOfTooltipStyle:hover {
  text-decoration: dotted;
}

/* Responsive */

@media only screen and (max-width: 575px) {
  .ListOfFooter {
    display: none;
  }
  .removepad {
    padding-top: 0 !important;
  }

  .removepadbut {
    padding-bottom: 0px !important;
  }
}
