<div class="container">
    <div class="main-body">
    
          <!-- Breadcrumb -->
          <nav aria-label="breadcrumb" class="main-breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="index.html">Home</a></li>
              <li class="breadcrumb-item"><a href="javascript:void(0)">User</a></li>
              <li class="breadcrumb-item active" aria-current="page">User Profile</li>
            </ol>
          </nav>
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle" width="150">
                    <div class="mt-3">
                      <h4>John Doe</h4>
                      <p class="text-secondary mb-1">Full Stack Developer</p>
                      <p class="text-muted font-size-sm">Bay Area, San Francisco, CA</p>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
             <form  [formGroup]="userForm"  (ngSubmit)="onSubmit()">
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Full Name</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @if(!editing){
                        {{userData.userName}}
                      }
                    @if(editing){
                      <input type="email" class="form-control mb-2" [(ngModel)]="userData.userName"  value="{{userData.userName}}">
                    }
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">ُEmail</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @if(!editing){
                        {{userData.email}}
                      }
                    @if(editing){
                      <input type="email" class="form-control mb-2" [(ngModel)]="userData.email"  value="{{userData.email}}">
                    }
                    </div>
                  
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">PhoneNumber</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                    
                      @if(!editing){
                        {{userData.phoneNumber}}
                      }
                  
                    @if(editing){
                      <input type="email" class="form-control mb-2" [(ngModel)]="userData.phoneNumber"  value="{{userData.phoneNumber}}">
                    }
                    </div>
                  </div>
                  <hr>
              
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Address</h6>
                    </div>
                    <div class="col-sm-9 text-secondary">
                      @if(!editing){
                        {{userData.address}}
                      }
                  
                    @if(editing){
                      <input type="email" class="form-control mb-2" [(ngModel)]="userData.address"  value=" {{userData.address}}">
                    }
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-12">
                      <a class="btn btn-info " target="__blank"  (click)="editing ? saveProfile() : editProfile()">  {{ editing ? 'Save' : 'Edit' }}</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
          </div>
        </div>
    </div>
