<div class="modal" tabindex="-1" id="paypalModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" alt="PayPal Logo">
                <h5 class="modal-title text-center">Oops! Payment Unsuccessful</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="text-center font-weight-bold">Your payment via PayPal could not be processed.</p>
                <p class="text-center">We're sorry for any inconvenience caused. Please try again later.</p>
                <div class="text-center">
                    <img src="https://sm.pcmag.com/t/pcmag_uk/review/p/paypal/paypal_kzfp.1920.png"
                        alt="PayPal Checkmark" style="width: 50%;" class="mx-auto d-block">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>