<div  [ngClass]="{'WelcomeSection': !isLoggedIn}" class="p-3 mb-0 mt-0">

    <div class="container ">

        @if(isLoggedIn){
        <!-- User Name !! -->
        <h1 class="txtHeaderWelcoming text-center"> Welcome to Etsy, Nada </h1>
        }@else {
        <h1 class="txtHeaderWelcoming text-center"> Shop on-sale Art & Collectibles and so much more! </h1>
        }
    </div>
    
</div>



<!-- @if(isLoggedIn){

} -->
@if(ProductsList.length > 0)
{
    <div  [ngClass]="{'SectionHome': !isLoggedIn}">
        <div class="container ProductsSectionHome mb-5">
            <div class="row pt-2 justify-content-center ">
                @for (ProductItem of ProductsList.slice(15, 20); track $index ) {
                <div class="col-md-2 product-item">
                    <ul class="list-unstyled">
                        <li class="ProductEffect">


                            <!-- Routing to the product details NOT FINISHED !! -->
                            <a routerLink="" class="d-flex flex-column align-items-center text-decoration-none">
                                <div>
                                    <img class=" img-fluid imgOfCard mb-3" [src]="ProductItem.productImage"
                                        alt="Card image cap">
                                </div>
                                <div class="text-center">
                                    <h4 class="textOfProduct">{{ProductItem.productNameEN.slice(0,20) }}</h4>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                }
                @empty {
                <div class="col-md-2 text-center">
                    <h1>No Products to View</h1>
                </div>
                }
            </div>
        </div>
    </div>

}