/* =============== Welcoming ! ================ */
.txtHeaderWelcoming {
  font-family: "Guardian-EgypTT", "Charter", "Charter Bitstream", "Cambria",
    "Noto Serif Light", "Droid Serif", "Georgia", "serif";
  font-size: x-large;
  font-weight: normal;
}

/* for user */
.WelcomeSection {
  background-color: #fffbd8;
  margin-top: 0;
}

/* =============== Products ! ================ */
/* Image */

.imgOfCard {
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

/* text of product*/
.textOfProduct {
  font-family: "Graphik Webfont", "-apple-system", "Helvetica Neue",
    "Droid Sans", "Arial", "sans-serif";
  width: 90px;
  color: #2c2b2b;
  font-size: small;
}

/* The whole section with container */
.ProductsSectionHome {
  width: 70%;
  height: 100%;
}

/* For User */
.SectionHome {
  background: linear-gradient(to bottom, #fffbd8, 35%, transparent 35%);
}

/* effect in product */

.ProductEffect {
  transition: all 0.5s ease;
}

.ProductEffect:hover .textOfProduct {
  position: relative;
  text-decoration: none;
  color: #595959;
}

.ProductEffect:hover .textOfProduct::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #595959;
}
.ProductEffect:hover .imgOfCard {
  transform: scale(1.2);
  transition: all 0.5s ease;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
