<div class="container my-5">


    <div class="row justify-content-center">

        <div class="card col-xl-3 col-md-6 ms-5 mt-5 mb-5" style="border: 1px rgb(233, 233, 233) solid; box-shadow: none;">
            <img class="card-img-top ImgOFCard" src="../../../../assets/image/team/Abanoub.jpg" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Abanoub Girgis </h5>
                <p class="card-text mb-0" style="cursor: pointer;">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                    <a href="https://www.linkedin.com/in/abanoub-girgis-150bb0209/" target="_blank"
                        class="ms-1 socialLink">
                        abanoub-girgis-150bb0209
                    </a>
                </p>
                <p class="card-text"  style="cursor: pointer;">
                    <i class="fa-brands fa-github" style="color: #000000;"></i>

                    <a href="https://github.com/AbanoubGirGis" target="_blank"
                        class="ms-1 socialLink">
                        AbanoubGirGis
                    </a>
                </p>
            </div>
        </div>


        <div class="card col-xl-3 ms-5 col-md-6 mt-5 mb-5" style="border: 1px rgb(233, 233, 233) solid; box-shadow: none;">
            <img class="card-img-top ImgOFCard" src="../../../../assets/image/team/nada.jpg" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Nada Youssef</h5>

                <p class="card-text mb-0" style="cursor: pointer;">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                    <a href="https://www.linkedin.com/in/nada-youssef-8b00b0239/?originalSubdomain=eg" target="_blank"
                        class="ms-1 socialLink">
                        nada-youssef-8b00b0239
                    </a>
                </p>
                <p class="card-text"  style="cursor: pointer;">
                    <i class="fa-brands fa-github" style="color: #000000;"></i>

                    <a href="https://github.com/nada2277" target="_blank"
                        class="ms-1 socialLink">
                        nada2277
                    </a>
                </p>

            </div>
        </div>

        <div class="card col-xl-3 ms-5 col-md-6 mt-5 mb-5" style="border: 1px rgb(233, 233, 233) solid; box-shadow: none;">
            <img class="card-img-top ImgOFCard" src="../../../../assets/image/team/solwan.jpg" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Solwan Mohamed</h5>
                <p class="card-text mb-0" style="cursor: pointer;">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                    <a href="https://www.linkedin.com/in/solwanm/" target="_blank"
                        class="ms-1 socialLink">
                        solwanm
                    </a>
                </p>
                <p class="card-text"  style="cursor: pointer;">
                    <i class="fa-brands fa-github" style="color: #000000;"></i>

                    <a href="https://github.com/solwanmahmoud" target="_blank"
                        class="ms-1 socialLink">
                        solwanmahmoud
                    </a>
                </p>
            </div>
        </div>

        <div class="card col-xl-3 ms-5 col-md-6 mt-5 mb-5" style="border: 1px rgb(233, 233, 233) solid; box-shadow: none;">
            <img class="card-img-top ImgOFCard" src="../../../../assets/image/team/ziad.jpg" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Ziad Mohamed</h5>
                <p class="card-text mb-0" style="cursor: pointer;">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                    <a href="https://www.linkedin.com/in/ziad-hakem-945249276/" target="_blank"
                        class="ms-1 socialLink">
                        Ziad Hakem
                    </a>
                </p>
                <p class="card-text"  style="cursor: pointer;">
                    <i class="fa-brands fa-github" style="color: #000000;"></i>

                    <a href="https://github.com/ZiadHakem" target="_blank"
                        class="ms-1 socialLink">
                        ZiadHakem
                    </a>
                </p>
            </div>
        </div>

        <div class="card col-xl-3 ms-5 col-md-6 mt-5 mb-5" style="border: 1px rgb(233, 233, 233) solid; box-shadow: none;">
            <img class="card-img-top ImgOFCard" src="../../../../assets/image/team/Kirollos.JPG" alt="Card image cap">
            <div class="card-body ">
                <h5 class="card-title">Kirollos Hreny</h5>
                <p class="card-text mb-0" style="cursor: pointer;">
                    <i class="fa-brands fa-linkedin" style="color: #0a66c2;"></i>
                    <a href="https://www.linkedin.com/in/kirollos-h/" target="_blank"
                        class="ms-1 socialLink">
                        kirollos-h
                    </a>
                </p>
                <p class="card-text"  style="cursor: pointer;">
                    <i class="fa-brands fa-github" style="color: #000000;"></i>

                    <a href="https://github.com/kirollosHenry" target="_blank"
                        class="ms-1 socialLink">
                        kirollosHenry
                    </a>
                </p>
            </div>
        </div>


    </div>


</div>