.custom-close-button {
    position: absolute;
    top: -5px;
    right: -50px;
    border-radius: 50%;
  
    font-size: xx-large;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 0px 10px;
    transition:  background-color 0.3s ease;
  }
  
  .custom-close-button:hover {
    background-color: #f8f9fa41;
  }
  
  .divider:after,
  .divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
  
  ::ng-deep .modal-content {
    max-width: 65%;
    max-height: 70%;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.163);
  }
  
  
  /* Btn Of Regsteration*/
  
  .BtnOfRegsteration{
    border-radius: 30px;
    transition: background-color 0.5s ease;
    font-size:small; 
    font-weight:450;
  }
  
  .BtnOfRegsteration:hover{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.163);
  background-color: white !important;
  color: black;
  }
  
  
  .BtnOfSingin{
    width: 100%;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.888);
    transition: background-color 0.5s ease;
  color: white;
  font-size: medium;
  }
  
  .BtnOfSingin:hover{
  
    background-color: rgba(0, 0, 0, 0.697);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.163);
  
  }
  
  
  
  .BtnOfSocial {
    border-radius: 30px;
    transition: background-color 0.5s ease, box-shadow 0.5s ease;
    font-size: small;
    font-weight: 450;
    width: 100%;
    margin-bottom: 10px; 
  }
  
  .BtnOfSocial:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.347);
    background-color: white !important;
    color: black;
  }
  
  
  
  
  