<!-- ============================ -->

<div class="modal-body">
  <!-- Close Button -->
  <button
    type="button"
    class="close custom-close-button"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  @if(!showRegistrationForm){
  <!-- Header -->
  <div class="justify-content-between d-flex mb-3">
    <h5 class="modal-title mt-3 ms-2" style="font-size: medium">{{"LoginComponent.Sign in"|translate}}</h5>

    <button class="btn btn-outline-dark mt-2 BtnOfRegsteration" (click)="toggleForm()">
      {{"LoginComponent.Register"|translate}}
    </button>
  </div>

  <section class="vh-50">
    <div class="container h-100">

      <div class="row d-flex align-items-center justify-content-center h-80 ">
        <div class="col-md-12 col-12 col-lg-12 col-xl-12">
          <form [formGroup]="form"  (ngSubmit)="Login()" >
            <!-- Email input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form1Example13">
                {{"LoginComponent.Email address"|translate}}
                </label>
              <input
                type="email"
                id="form1Example13"
                class="form-control form-control-xl"
                width="100%"
                required
                formControlName="email"
                name="email"
                [ngClass]="{
                  'is-invalid':
                    (emailLogIn?.touched || emailLogIn?.dirty) && emailLogIn?.invalid
                }"
              />

              <span class="invalid-feedback">
                @if(emailLogIn?.errors?.['required']) {
                <span>{{"LoginComponent.Email is Required"|translate}}</span>
                } @else if(emailLogIn?.errors) {
                  <span>{{"LoginComponent.Email is not correct"|translate}}</span>
                  }
              </span>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label
                class="form-label"
                style="font-size: small; color: black"
                for="form1Example23">
                {{"LoginComponent.Password"|translate}}
                </label >
              <input
                formControlName="password"
                required
                type="password"
                id="form1Example23"
                class="form-control form-control-lg"
                name="password"
                [ngClass]="{
                  'is-invalid':
                    (passwordLogIn?.touched || passwordLogIn?.dirty) && passwordLogIn?.invalid
                }"
              />
              <span class="invalid-feedback">
                @if(passwordLogIn?.errors?.['required']) {
                <span>{{"LoginComponent.Password is Required"|translate}}</span>
                }
              </span>

            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div
                class="form-check justify-content-between"
                style="cursor: pointer"
              >
                <input
                  class="form-check-input"
                  style="font-size: x-large; cursor: pointer"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                  checked
                />
                <label
                  class="form-check-label pt-2"
                  style="font-size: small; cursor: pointer"
                  for="form1Example3"
                >
                  {{"LoginComponent.Stay signed in"|translate}}
                </label>
              </div>
              <a href="#!" class="text-secondary" style="font-size: x-small"
                >{{"LoginComponent.Forgot password?"|translate}}</a
              >
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              class="btn btn-lg btn-block BtnOfSingin mb-3"
              
            >
              {{"LoginComponent.Sign in"|translate}}
            </button>

            <!-- Trouble signing in? -->
            <div class="justify-content-center text-center">
              <a
                href="#!"
                class="text-secondary mb-2"
                style="font-size: x-small"
                >{{"LoginComponent.Trouble signing in?"|translate}}</a
              >
            </div>

            <div class="divider d-flex align-items-center my-2">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">{{"LoginComponent.OR"|translate}}</p>
            </div>

            <!-- Social Media -->

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button">

              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="google" class="svg-icon">
                <path fill="#fbbb00" d="M113.47 309.408 95.648 375.94l-65.139 1.378C11.042 341.211 0 299.9 0 256c0-42.451 10.324-82.483 28.624-117.732h.014L86.63 148.9l25.404 57.644c-5.317 15.501-8.215 32.141-8.215 49.456.002 18.792 3.406 36.797 9.651 53.408z"></path>
                <path fill="#518ef8" d="M507.527 208.176C510.467 223.662 512 239.655 512 256c0 18.328-1.927 36.206-5.598 53.451-12.462 58.683-45.025 109.925-90.134 146.187l-.014-.014-73.044-3.727-10.338-64.535c29.932-17.554 53.324-45.025 65.646-77.911h-136.89V208.176h245.899z"></path>
                <path fill="#28b446" d="m416.253 455.624.014.014C372.396 490.901 316.666 512 256 512c-97.491 0-182.252-54.491-225.491-134.681l82.961-67.91c21.619 57.698 77.278 98.771 142.53 98.771 28.047 0 54.323-7.582 76.87-20.818l83.383 68.262z"></path>
                <path fill="#f14336" d="m419.404 58.936-82.933 67.896C313.136 112.246 285.552 103.82 256 103.82c-66.729 0-123.429 42.957-143.965 102.724l-83.397-68.276h-.014C71.23 56.123 157.06 0 256 0c62.115 0 119.068 22.126 163.404 58.936z"></path>
            </svg>              
              {{"LoginComponent.Continue with Google"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial facebook"
              href="#!"
              role="button"
            >
              <i
                class="fa-brands fa-square-facebook me-2"
                style="color: #3c5a99"
              ></i>
              {{"LoginComponent.Continue with Facebook"|translate}}

            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <i class="fab fa-apple me-2"></i>
              
              {{"LoginComponent.Continue with Apple"|translate}}

            </a>

            <div>
              <p style="font-size: small">
                
                {{"LoginComponent.By clicking"|translate}}

                <a href="#">{{"LoginComponent.Terms of Use"|translate}} </a>{{"LoginComponent.and"|translate}} 
                <a href="#">{{"LoginComponent.Privacy Policy"|translate}}</a>.
              </p>

              <p style="font-size: xx-small" class="">
               
                {{"LoginComponent.Etsy may send"|translate}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  } 

  
  @else if(showRegistrationForm){
<!-- Register Form  -->
  <!-- Header -->
  <div >
    <h5 class="modal-title mt-3 ms-2" style="font-size: large;">{{"LoginComponent.Create your account"|translate}}</h5>
    <p class=" ms-2">{{"LoginComponent.Registration is easy."|translate}}</p>
  </div>

  <section class="vh-50">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-80">
        <div class="col-md-12 col-12 col-lg-12 col-xl-12">
          <form [formGroup]="formRegister" (ngSubmit)="Register()">
            <!-- Email input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form2Example13"
                >{{"LoginComponent.Email address"|translate}}</label
              >
              <input
                type="email"
                id="form2Example13"
                class="form-control form-control-xl"
                width="100%"
                formControlName="emailRegister"
                required
                name="emailRegister"
                [ngClass]="{
                  'is-invalid':
                    (emailRegisterGetter?.touched || emailRegisterGetter?.dirty) && emailRegisterGetter?.invalid
                }"
              />
              <span class="invalid-feedback">
                @if(emailRegisterGetter?.errors?.['required']) {
                <span>{{"LoginComponent.Email is Required"|translate}}</span>
                } @else if(emailRegisterGetter?.errors) {
                  <span>{{"LoginComponent.Email is not correct"|translate}}</span>
                  }
              </span>
            </div>

            <!-- User NAME input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form2Example14"
                >{{"LoginComponent.User name"|translate}}</label
              >
              <input
                type="text"
                id="form2Example14"
                class="form-control form-control-xl"
                width="100%"
                formControlName="userNameRegister"
                required
                name="userNameRegister"
                [ngClass]="{
                  'is-invalid':
                    (userNameRegisterGetter?.touched || userNameRegisterGetter?.dirty) && userNameRegisterGetter?.invalid
                }"
              />
              <span class="invalid-feedback">
                @if(userNameRegisterGetter?.errors?.['required']) {
                <span>{{"LoginComponent.User Name is Required"|translate}}</span>
                }
              </span>
            </div>

            <!-- Password input -->
            <div class="form-outline mb-3">
              <label
                class="form-label"
                style="font-size: small; color: black"
                for="form2Example23"
                >{{"LoginComponent.Password"|translate}}</label
              >
              <input
                formControlName="passwordRegister"
                required
                type="password"
                id="form2Example23"
                class="form-control form-control-lg"
                name="passwordRegister"
                [ngClass]="{
                  'is-invalid':
                    (passwordRegisterGetter?.touched || passwordRegisterGetter?.dirty) && passwordRegisterGetter?.invalid
                }"
              />
              <span class="invalid-feedback">
                @if(passwordRegisterGetter?.errors?.['required']) {
                <span>{{"LoginComponent.Password is Required"|translate}}</span>
                }
              </span>
            </div>

            <!-- Policy  -->

            <p style="font-size: small">
              {{"LoginComponent.By clicking"|translate}}
              <a href="#">{{"LoginComponent.Terms of Use"|translate}} </a>{{"LoginComponent.and"|translate}} 
              <a href="#">{{"LoginComponent.Privacy Policy"|translate}}</a>.
            
            </p>


            <!-- Submit button -->
            <button type="submit" class="btn btn-lg btn-block BtnOfSingin mb-3">
              {{"LoginComponent.Register"|translate}}

            </button>

            <div class="divider d-flex align-items-center my-2">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">{{"LoginComponent.OR"|translate}}</p>
            </div>


            <!-- Social Media -->

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" id="google" class="svg-icon">
                <path fill="#fbbb00" d="M113.47 309.408 95.648 375.94l-65.139 1.378C11.042 341.211 0 299.9 0 256c0-42.451 10.324-82.483 28.624-117.732h.014L86.63 148.9l25.404 57.644c-5.317 15.501-8.215 32.141-8.215 49.456.002 18.792 3.406 36.797 9.651 53.408z"></path>
                <path fill="#518ef8" d="M507.527 208.176C510.467 223.662 512 239.655 512 256c0 18.328-1.927 36.206-5.598 53.451-12.462 58.683-45.025 109.925-90.134 146.187l-.014-.014-73.044-3.727-10.338-64.535c29.932-17.554 53.324-45.025 65.646-77.911h-136.89V208.176h245.899z"></path>
                <path fill="#28b446" d="m416.253 455.624.014.014C372.396 490.901 316.666 512 256 512c-97.491 0-182.252-54.491-225.491-134.681l82.961-67.91c21.619 57.698 77.278 98.771 142.53 98.771 28.047 0 54.323-7.582 76.87-20.818l83.383 68.262z"></path>
                <path fill="#f14336" d="m419.404 58.936-82.933 67.896C313.136 112.246 285.552 103.82 256 103.82c-66.729 0-123.429 42.957-143.965 102.724l-83.397-68.276h-.014C71.23 56.123 157.06 0 256 0c62.115 0 119.068 22.126 163.404 58.936z"></path>
            </svg>
              {{"LoginComponent.Continue with Google"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial facebook"
              href="#!"
              role="button"
            >
              <i
                class="fa-brands fa-square-facebook me-2"
                style="color: #3c5a99"
              ></i>
              {{"LoginComponent.Continue with Facebook"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <i class="fab fa-apple me-2"></i>
              {{"LoginComponent.Continue with Apple"|translate}}
            </a>

            <div>
            
              <p style="font-size: xx-small" class="">
                {{"LoginComponent.Etsy may send"|translate}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  }
</div>
