<!-- ============================ -->

<div class="modal-body">
  <!-- Close Button -->
  <button
    type="button"
    class="close custom-close-button"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal()"
  >
    <span aria-hidden="true">&times;</span>
  </button>

  @if(!showRegistrationForm){
  <!-- Header -->
  <div class="justify-content-between d-flex mb-3">
    <h5 class="modal-title mt-3 ms-2" style="font-size: medium">{{"LoginComponent.Sign in"|translate}}</h5>

    <button class="btn btn-outline-dark mt-2 BtnOfRegsteration" (click)="toggleForm()">
      {{"LoginComponent.Register"|translate}}
    </button>
  </div>

  <section class="vh-50">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-80">
        <div class="col-md-7 col-lg-12 col-xl-12">
          <form [formGroup]="form"  (ngSubmit)="Login()" >
            <!-- Email input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form1Example13">
                {{"LoginComponent.Email address"|translate}}
                </label>
              <input
                type="email"
                id="form1Example13"
                class="form-control form-control-xl"
                width="100%"
                required
                formControlName="email"
              />
            </div>

            <!-- Password input -->
            <div class="form-outline mb-4">
              <label
                class="form-label"
                style="font-size: small; color: black"
                for="form1Example23">
                {{"LoginComponent.Password"|translate}}
                </label >
              <input
                formControlName="password"
                required
                type="password"
                id="form1Example23"
                class="form-control form-control-lg"
              />
            </div>

            <div class="d-flex justify-content-around align-items-center mb-4">
              <!-- Checkbox -->
              <div
                class="form-check justify-content-between"
                style="cursor: pointer"
              >
                <input
                  class="form-check-input"
                  style="font-size: x-large; cursor: pointer"
                  type="checkbox"
                  value=""
                  id="form1Example3"
                  checked
                />
                <label
                  class="form-check-label pt-2"
                  style="font-size: small; cursor: pointer"
                  for="form1Example3"
                >
                  {{"LoginComponent.Stay signed in"|translate}}
                </label>
              </div>
              <a href="#!" class="text-secondary" style="font-size: x-small"
                >{{"LoginComponent.Forgot password?"|translate}}</a
              >
            </div>

            <!-- Submit button -->
            <button
              type="submit"
              class="btn btn-lg btn-block BtnOfSingin mb-3"
              
            >
              {{"LoginComponent.Sign in"|translate}}
            </button>

            <!-- Trouble signing in? -->
            <div class="justify-content-center text-center">
              <a
                href="#!"
                class="text-secondary mb-2"
                style="font-size: x-small"
                >{{"LoginComponent.Trouble signing in?"|translate}}</a
              >
            </div>

            <div class="divider d-flex align-items-center my-2">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">{{"LoginComponent.OR"|translate}}</p>
            </div>

            <!-- Social Media -->

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button">
              <i class="fab fa-google me-2"></i>
              
              {{"LoginComponent.Continue with Google"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial facebook"
              href="#!"
              role="button"
            >
              <i
                class="fa-brands fa-square-facebook me-2"
                style="color: #3c5a99"
              ></i>
              {{"LoginComponent.Continue with Facebook"|translate}}

            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <i class="fab fa-apple me-2"></i>
              
              {{"LoginComponent.Continue with Apple"|translate}}

            </a>

            <div>
              <p style="font-size: small">
                
                {{"LoginComponent.By clicking"|translate}}

                <a href="#">{{"LoginComponent.Terms of Use"|translate}} </a>{{"LoginComponent.and"|translate}} 
                <a href="#">{{"LoginComponent.Privacy Policy"|translate}}</a>.
              </p>

              <p style="font-size: xx-small" class="">
               
                {{"LoginComponent.Etsy may send"|translate}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  } 

  
  @else if(showRegistrationForm){
<!-- Register Form  -->
  <!-- Header -->
  <div >
    <h5 class="modal-title mt-3 ms-2" style="font-size: large;">{{"LoginComponent.Create your account"|translate}}</h5>
    <p class=" ms-2">{{"LoginComponent.Registration is easy."|translate}}</p>
  </div>

  <section class="vh-50">
    <div class="container h-100">
      <div class="row d-flex align-items-center justify-content-center h-80">
        <div class="col-md-7 col-lg-12 col-xl-12">
          <form [formGroup]="formRegister" (ngSubmit)="Register()">
            <!-- Email input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form2Example13"
                >{{"LoginComponent.Email address"|translate}}</label
              >
              <input
                type="email"
                id="form2Example13"
                class="form-control form-control-xl"
                width="100%"
                formControlName="emailRegister"
                required
              />
            </div>

            <!-- User NAME input -->
            <div class="form-outline mb-2">
              <label
                class="form-label pb-0"
                style="font-size: small; color: black"
                for="form2Example14"
                >{{"LoginComponent.User name"|translate}}</label
              >
              <input
                type="email"
                id="form2Example14"
                class="form-control form-control-xl"
                width="100%"
                formControlName="userNameRegister"
                required
              />
            </div>
            <!-- Password input -->
            <div class="form-outline mb-3">
              <label
                class="form-label"
                style="font-size: small; color: black"
                for="form2Example23"
                >{{"LoginComponent.Password"|translate}}</label
              >
              <input
                formControlName="passwordRegister"
                required
                type="password"
                id="form2Example23"
                class="form-control form-control-lg"
              />
            </div>

            <!-- Policy  -->

            <p style="font-size: small">
              {{"LoginComponent.By clicking"|translate}}
              <a href="#">{{"LoginComponent.Terms of Use"|translate}} </a>{{"LoginComponent.and"|translate}} 
              <a href="#">{{"LoginComponent.Privacy Policy"|translate}}</a>.
            
            </p>


            <!-- Submit button -->
            <button type="submit" class="btn btn-lg btn-block BtnOfSingin mb-3">
              {{"LoginComponent.Register"|translate}}

            </button>

            <div class="divider d-flex align-items-center my-2">
              <p class="text-center fw-bold mx-3 mb-0 text-muted">         
                     <p class="text-center fw-bold mx-3 mb-0 text-muted">{{"LoginComponent.OR"|translate}}
             </p>
            </div>

            <!-- Social Media -->

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <i class="fab fa-google me-2"></i>
              {{"LoginComponent.Continue with Google"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial facebook"
              href="#!"
              role="button"
            >
              <i
                class="fa-brands fa-square-facebook me-2"
                style="color: #3c5a99"
              ></i>
              {{"LoginComponent.Continue with Facebook"|translate}}
            </a>

            <a
              class="btn btn-outline-dark btn-lg btn-block BtnOfSocial"
              href="#!"
              role="button"
            >
              <i class="fab fa-apple me-2"></i>
              {{"LoginComponent.Continue with Apple"|translate}}
            </a>

            <div>
            
              <p style="font-size: xx-small" class="">
                {{"LoginComponent.Etsy may send"|translate}}
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>

  }
</div>
